<section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs">
            <li><a href="#tours" data-toggle="tab" class="active show">Tours</a></li>
            <li><a href="#hotels" data-toggle="tab" class=" ">Packages</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="tours">
            <!-- <form > -->
                <h3>Search Tours</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Location</label>
                            <input matInput placeholder="" [(ngModel)]="Search_Params.LocationID" class="" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" style="height: 35px !important">
                             <mat-autocomplete #auto="matAutocomplete">
                             <mat-option *ngFor="let Location of filteredStates | async" [value]="Location.LocationName">
                             <img class="example-option-img" aria-hidden src="../../../assets/img/flag/{{Location.Country}}.png"   height="25">
                             <span>{{Location.LocationName}}</span>
                            </mat-option>
                            </mat-autocomplete>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Things to do</label>
                            <mat-select class="dd-selected"  >
                                <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname"  >
                                    <img with="20" height="20"  [src]="Country.Countryname">   <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;"> {{ Country.Countryname}}</label>
                                </mat-option>
                              </mat-select>
                        </div>
                    </div>
                </div>
                <!-- End row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                                <label><i class=" icon-calendar-7"></i> Date</label>
                                <mat-form-field>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="Search_Params.sDate" format="dd/MM/yyyy" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker" >
                                <mat-icon matDatepickerToggleIcon style="    line-height: 0%;
                                position: absolute;
                                bottom: -9px;
                                right: 21px;
                                width: 24px;
                                height: 17px;"><i class=" icon-calendar-7" style="line-height:0%"></i></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                                </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><i class=" icon-clock"></i> Time</label>
                            <input matInput type="time" id="appt" name="appt" [(ngModel)]="Search_Params.Time"  style="    margin-top: 10px" value="00:00"
                            min="9:00" max="18:00" required>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="form-group">
                            <label>Adults</label>
                         
                            <div class="numbers-row" style="    margin-top: 10px">
                             <input matInput type="text"   id="adults" class="qty2 form-control" name="adults" [(ngModel)]="Search_Params.Adults" style="
                                width: 35%;font-size: 1.1em;">
                            <div class="inc button_inc" (click)="AddPax('Adults')">+</div><div class="dec button_inc">-</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="form-group">
                            
                            <label>Children</label>
                            <div class="numbers-row" style="    margin-top: 10px">
                                <input matInput type="text" id="children" [(ngModel)]="Search_Params.Child" class="qty2 form-control" name="children" style="
                                width: 35%;font-size: 1.2em;
                            ">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End row -->
                <hr>
                <button class="btn_1 green" (click)="SearchActivity()"><i class="icon-search" ></i>Search now</button>
            <!-- </form> -->
            </div>
            <!-- End rab -->
            <div class="tab-pane " id="hotels">
                <h3>Search Hotels in Paris</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Check in</label>
                            <input class="date-pick form-control" data-date-format="M d, D" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Check out</label>
                            <input class="date-pick form-control" data-date-format="M d, D" type="text">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-6">
                        <div class="form-group">
                            <label>Adults</label>
                            <div class="numbers-row">
                                <input type="text" value="1" id="adults" class="qty2 form-control" name="adults_2">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-6">
                        <div class="form-group">
                            <label>Children</label>
                            <div class="numbers-row">
                                <input type="text" value="0" id="children" class="qty2 form-control" name="children_2">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-12">
                        <div class="form-group">
                            <label>Rooms</label>
                            <div class="numbers-row">
                                <input type="text" value="1" id="children" class="qty2 form-control" name="rooms">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Hotel name</label>
                            <input type="text" class="form-control" id="hotel_name" name="hotel_name" placeholder="Optionally type hotel name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Preferred city area</label>
                            <select class="form-control" name="area">
                                <option value="Centre" selected="">Centre</option>
                                <option value="Gar du Nord Station">Gar du Nord Station</option>
                                <option value="La Defance">La Defance</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End row -->
                <hr>
                <button class="btn_1 green"><i class="icon-search"></i>Search now</button>
            </div>
            
        </div>
    </div>
</section>

