<!-- Sign In Popup -->
<div   class="" role="dialog">
  <div class="small-dialog-header"></div>
      <h3>Sign In</h3>
  <form>
      <div class="sign-in-wrapper">
          <a href="#0" class="social_bt facebook">Login with Facebook</a>
          <a href="#0" class="social_bt google">Login with Google</a>
          <div class="divider"><span>Or</span></div>
          <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="sUserName"  name="sUserName" id="email">
              <i class="icon_mail_alt"></i>
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="sPassword" [(ngModel)]="sPassword" value="">
              <i class="icon_lock_alt"></i>
          </div>
          <div class="clearfix add_bottom_15">
              <div class="checkboxes float-left">
                  <input id="remember-me" type="checkbox" name="check">
                  <label for="remember-me">Remember Me</label>
              </div>
              <div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
          </div>
          <div class="text-center"><input type="submit" value="Log In" class="btn_login" (click)="getUserlogin()"></div>
          <div class="text-center">
              Don’t have an account? <a href="javascript:void(0);">Sign up</a>
          </div>
          <div id="forgot_pw">
              <div class="form-group">
                  <label>Please confirm login email below</label>
                  <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                  <i class="icon_mail_alt"></i>
              </div>
              <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
              <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
          </div>
      </div>
  </form>
  <!--form -->

</div>