<main class="listpage-margin" style="margin-bottom: 355px;">
        <div id="position">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Category</a>
                    </li>
                    <li>Page active</li>
                </ul>
            </div>
        </div>
        <!-- Position -->
        <div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
        </div>
        <!-- End Map -->
      
        <div class="container margin_30">
            <div class="row">
                <aside class="col-lg-3">
                    <p>
                        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                    </p>
                    <div class="box_style_cat">
                        <ul id="cat_nav" >
                            <li  *ngFor="let TourType of arrTourType">
                                <a href="#" id="active"><i class="icon_set_1_icon-51"></i>  {{TourType.Name}} <span>({{TourType.ActivityCount}})</span></a>
                            </li>
                        </ul>
                    <div class="styled-select-cat">
                        <select id="mobileMenu_cat_nav" class="mobileMenu" style="display: none;">
                            <option value="">Filter by category</option>
                            <option value="#" *ngFor="let TourType of arrTourType">
                                    {{TourType.Name}} ({{TourType.ActivityCount}})
                            </option>
                           </select>
                        </div>
                    </div>
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
                        <div class="collapse show" id="collapseFilters">
                            <div class="filter_type">
                                <h6>Price</h6>
                                <mat-slider
                                [displayWith]="formatLabel"
                                class="example-margin"
                                tickInterval="1000"
                                [min]="price.MinPrice"
                                thumbLabel="true"
                                [max]="price.MaxPrice" step="10">
                            </mat-slider>
                            </div>
                        </div>
                        <!--End collapse -->
                    </div>
                    <!--End filters col-->
                    <div class="box_style_2">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>Need <span>Help?</span></h4>
                        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                        <small>Monday to Friday 9.00am - 7.30pm</small>
                    </div>
                </aside>
                <!--End aside -->
                <div class="col-lg-9">
                    
                    <div id="tools">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="styled-select-filters">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rating" id="sort_rating">
                                        <option value="" selected="">Sort by ranking</option>
                                        <option value="lower">Lowest ranking</option>
                                        <option value="higher">Highest ranking</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-4 d-none d-sm-block text-right">
                                <a href="all_tours_grid.html" class="bt_filters"><i class="icon-th"></i></a> <a href="#" class="bt_filters"><i class=" icon-list"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/tools -->
    <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s" *ngFor="let tour of tours">
                          
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="ribbon_3 popular">
                    <span>Popular</span>
                </div>
                <div class="wishlist">
                    <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                </div>
                <div class="img_list" >
                    <a href="single_tour.html">
                        <img  src="{{tour.ListImage.Url}}" alt="Image">
                        <div class="short_info"><i class="icon_set_1_icon-4"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tour_list_desc">
                    <div class="rating">
                        <i class="icon-smile voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile"></i><small>(75)</small>
                    </div>
                    <h3><strong>{{tour.Name}}</strong> tour</h3>
                    <p>{{tour.Description}}</p>
                    <ul class="add_info">
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                <div class="tooltip-content">
                                    <h4>Schedule</h4>
                                    <strong>Monday to Friday</strong> 09.00 AM - 5.30 PM
                                    <br>
                                    <strong>Saturday</strong> 09.00 AM - 5.30 PM
                                    <br>
                                    <strong>{{tour.Closing}}</strong> <span class="label label-danger">Closed</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                <div class="tooltip-content">
                                    <h4>Address</h4> Musée du Louvre, 75058 Paris - France
                                    <br>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-97"></i></span>
                                <div class="tooltip-content">
                                    <h4>Languages</h4> English - French - Chinese - Russian - Italian
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-27"></i></span>
                                <div class="tooltip-content">
                                    <h4>Parking</h4> 1-3 Rue Elisée Reclus
                                    <br> 76 Rue du Général Leclerc
                                    <br> 8 Rue Caillaux 94923
                                    <br>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
                                <div class="tooltip-content">
                                    <h4>Transport</h4>
                                    <strong>Metro: </strong>Musée du Louvre station (line 1)
                                    <br>
                                    <strong>Bus:</strong> 21, 24, 27, 39, 48, 68, 69, 72, 81, 95
                                    <br>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="price_list">
                    <div>
                        <sup>{{tour.CurrencyClass}} <br/></sup>{{tour.TotalPrice}}<span class="normal_price_list">$99</span><small>*Per person</small>
                        <p>
                            <a onclick="openNav()"  class="btn_1" (click)="getTourType(tour.ActivityID,tour.Name)" >Details</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      
      </div>
                    <!--End strip -->
                    <hr>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <span class="page-link">1<span class="sr-only">(current)</span></span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- end pagination-->
                </div>
                <!-- End col lg-9 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
   
      </main>
      <div id="mySidenav" class="sidenav">
        <div id="tools" class="padding15">
            <h5 class="thintext_dark nomargin_bottom" >{{Name}}<a class="float-right icon_set_1_icon-77" href="javascript:void(0)" onclick="closeNav()"></a></h5>
        </div>
        
        <div *ngIf="selRateType" class="padding10" style="display:block">
            <div class="bs-wizard row">
                <div class="col-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum font14">Options</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Date</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Date')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Slot</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Book')"  class="bs-wizard-dot"></a>
                </div>
        
            </div>
            <!-- End bs-wizard -->
            <div class="col-12">
                <div class="strip_booking" *ngFor="let arrType of tourType">
                    <h3 class="no_transfer pointer" (click)="getRateDate(arrType.Type)" >{{arrType.Type}}<span>Without transfer</span></h3>
                </div>
            </div>
        </div>
        <div  *ngIf="selDate">
            <div class="bs-wizard row">
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">Ticket</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a  (click)="setWizard('Type')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum font14">Date</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Slot</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="" class="bs-wizard-dot"></a>
                </div>
        
            </div>
            <!-- End bs-wizard -->
            <div class="padding10 strip_booking">
                <p class="add_bottom_15 text-center font18 font-weight-bold blue-colour">
                    <span class="icon-left-open-5 font14 pointer"></span> 
                    Dec 2019 
                    <span class="icon-right-open-5 font14 pointer" aria-hidden="true"></span>
                </p>
                <ul class="act-date">
                    <li  *ngFor="let rDate of arrDates" (click)="getSlot(rDate.fDate)">
                        <div class="date">
                            <span class="month">{{rDate.Month}}</span>
                            <span class="day"><strong>{{rDate.sDate}}</strong>{{rDate.Day}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="selSlot">
            <div class="bs-wizard row">
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">Ticket</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a   (click)="setWizard('Type')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">{{ SlotDate}}</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a  (click)="setWizard('Date')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum font14">Slot</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a  (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum font14">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="" class="bs-wizard-dot"></a>
                </div>
        
            </div>
            <!-- End bs-wizard -->
            <div class="padding10 strip_booking nomargin_bottom">
                <ul class="slots">
                    <li>
                        <div class="slotbox" *ngFor="let Slot of arrSlots" (click)="getSlotRate(Slot.ID,Slot.SlotsStartTime)">
                            <span class="time open">{{Slot.SlotsStartTime}}</span>
                        </div>
                    </li>
                   
                </ul>
                <div>
                    <span class="icon-stop blue-colour"></span> Available
                    <span class="icon-stop red-colour"></span> Unavailable
                    <span class="icon-stop orange-colour"></span> Limited
                </div>
            </div>     
            <div class="col-12" *ngIf="showRate">          
                
                <div class="strip_booking act-type-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="touroption"><strong>Tour Type</strong></h3>
                        </div>
                        <div class="col-2" *ngFor="let Pax of arrPax">
                            <h4 class="tourtype"><strong>{{Pax.Pax_Type}}</strong>
                                <span>{{Pax.Age}}</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="strip_booking nomargin_bottom">
                    <div class="row"  *ngFor="let arrTicket of arrTicketType"> 
                        <div class="col-4">
                            <h3 class="touroption pointer" (click)="setTicketRate()">{{arrTicket.Ticket}}<span>Peak Hours</span></h3>
                        </div>
                        <div class="col-2" *ngFor="let arrPax of arrTicket.arrayPax">
                            <h4 class="tourtype pointer"><span>AED</span>{{arrPax.Rate}}</h4>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div *ngIf="selBook">
            <div class="bs-wizard row">
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">{{RateType}}</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">{{SlotDate}}</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Date')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum font14">{{SlotName}}</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
                </div>
        
                <div class="col-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum font14">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a (click)="setWizard('Book')" class="bs-wizard-dot"></a>
                </div>
        
            </div>
            <!-- End bs-wizard -->
            <table class="table table-striped act-pax-select">
                <thead>
                    <tr class="justify-content-center">
                        <th>
                            Passanger
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Per Pax
                        </th>
                        <th>
                            Sub Total
                        </th>
        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Pax of arrPax">
                        <td>
                            <span class="font-weight-bold font14">{{Pax.Pax_Type}}
                                <small>({{Pax.Age}})</small>
                                
                            </span>
                        </td>
                        <td>
                            <div class="numbers-row">
                                <input type="text" value="1" id="quantity_1" class="qty2 form-control" name="quantity_1">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </td>
                        <td>
                            {{Pax.Rate}}
                        </td>
                        <td class="font16">
                            <strong> {{Pax.Rate}}</strong>
                        </td>
                    </tr>
        
                </tbody>
        
            </table>
            <div class="padding10">
                <div class="post_info clearfix">
                    <div class="post-left">
                        <span class="font20 text-danger align-middle">
                            Total
                        </span>
                        <span class="font20 text-danger align-middle">
                            <strong>AED 200</strong>
                        </span>
                    </div>
        
                    <div class="post-right">
                        <a  class="btn_1" >Add To Card</a>
                    </div>
                </div>
            </div>
        
        </div>
      
        </div>