<!--The content below is only a placeholder and can be replaced.-->
<div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header -->
    <header id="plain">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <i class="icon_set_1_icon-57"></i><strong>+971-4-2977792</strong>
                        <i class="icon_set_1_icon-84"></i><strong>contact@clickurtrip.com</strong>
                    </div>
                    <div class="col-6">
                        <ul id="top_links">
                            <li>
                                <a *ngIf="login.retCode != undefined && login.retCode !=1 "   style="cursor: pointer;"  mat-button (click)="openDialog()">Sign in</a>

                                <a *ngIf="login.retCode ==1 "   style="cursor: pointer;"  mat-button (click)="openDialog()">Sign out</a>
                            </li>
                            <li>
                                <a href="wishlist.html" id="wishlist_link">Wishlist</a>
                            </li>
                            <li>
                                <div class="dropdown dropdown-mini">
                                    <a href="#" data-toggle="dropdown" id="lang_link">English</a>                                    
                                </div>
                                <!-- End Dropdown access -->
                            </li>
                            <li>
                                <div class="dropdown dropdown-mini">
                                    <a href="#" data-toggle="dropdown" id="currency_link" aria-expanded="false">{{Currency}}</a>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(45px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <ul id="lang_menu">
                                                <li *ngFor="let Exchange of exchange">
                                                        <a style="cursor: pointer" (click)=SetCurrency(Exchange.Currency) >{{Exchange.Currency}}</a>
                                                    </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Dropdown access -->
                            </li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="logo_home">
                        <h1><a href="/home" title="ClickUrTrip Tourism LLC">ClickUrTrip Tourism LLC</a></h1>
                    </div>
                </div>
                <nav class="col-9 ">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu font16">
                        <div id="header_menu">
                            <img src="assets/img/cut_dxb_logo.png" width="160" height="34" alt="City tours" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li style="vertical-align: text-bottom;">
                                <a href="/home" class="icon_set_1_icon-64 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Home</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;" class="submenu">
                                <a href="tours-list" class="show-submenu icon_set_1_icon-3 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Sightseeing</p>
                                </a>
                                <ul class="text-left">
                                    <li><a href="tours-list">All tours list</a></li>

                                </ul>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="/home" class="icon_set_1_icon-6 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Hotel</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="/tours-list" class="icon_set_1_icon-37 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Holiday</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="#" class="icon_set_1_icon-94 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Visa</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="#" class="icon_set_1_icon-51 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Top Deals</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="#" class="icon_set_1_icon-16 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">FAQ</p>
                                </a>
                            </li>
                            <li style="vertical-align: text-bottom;">
                                <a href="index.html" class="icon_set_1_icon-85 font30 nopadding-bottom">
                                    <p class="font12 nomargin_bottom">Blog</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- End main-menu -->

                    <ul id="top_tools">
                        <li>
                            <a href="javascript:void(0);" class="search-overlay-menu-btn"><i class="icon_search"></i></a>
                        </li>
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" data-toggle="dropdown" class="cart_bt"><i class="icon_bag_alt"></i><strong>3</strong></a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li>
                                        <div class="image"><img src="assets/img/thumb_cart_1.jpg" alt="image"></div>
                                        <strong><a href="#">Louvre museum</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="assets/img/thumb_cart_2.jpg" alt="image"></div>
                                        <strong><a href="#">Versailles tour</a>2x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="assets/img/thumb_cart_3.jpg" alt="image"></div>
                                        <strong><a href="#">Versailles tour</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div>Total: <span>$120.00</span></div>
                                        <a href="cart.html" class="button_drop">Go to cart</a>
                                        <a href="payment.html" class="button_drop outline">Check out</a>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header>
    <!-- End Header -->

<router-outlet></router-outlet>
<footer class="revealed">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <h3>Need help?</h3>
              <a href="tel://004542344599" id="phone">+45 423 445 99</a>
              <a href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a>
              <p><img src="assets/img/payments.png" width="231" height="30" alt="Image" data-retina="true" class="img-fluid"></p>
          </div>
          <div class="col-lg-2 col-md-3 ml-md-auto">
              <h3>About</h3>
              <ul>
                  <li>
                      <a href="#">About us</a>
                  </li>
                  <li>
                      <a href="#">FAQ</a>
                  </li>
                  <li>
                      <a href="#">Blog</a>
                  </li>
                  <li>
                      <a href="#">Contacts</a>
                  </li>
                  <li>
                      <a href="#">Login</a>
                  </li>
                  <li>
                      <a href="#">Register</a>
                  </li>
                  <li>
                      <a href="#">Terms and condition</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-4" id="newsletter">
              <h3>Newsletter</h3>
              <p>Join our newsletter to keep be informed about offers and news.</p>
              <div id="message-newsletter_2"></div>
              <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                  <div class="form-group">
                      <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                  </div>
                  <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
              </form>
          </div>
          <div class="col-lg-2 ml-lg-auto">
              <h3>Settings</h3>
              <div class="styled-select">
                  <select name="lang" id="lang">
                      <option value="English" selected>English</option>
                      <option value="French">French</option>
                      <option value="Spanish">Spanish</option>
                      <option value="Russian">Russian</option>
                  </select>
              </div>
              <div class="styled-select">
                  <select name="currency" id="currency">
                      <option value="USD" selected>USD</option>
                      <option value="EUR">EUR</option>
                      <option value="GBP">GBP</option>
                      <option value="RUB">RUB</option>
                  </select>
              </div>
          </div>
      </div>
      <!-- End row -->
      <div class="row">
          <div class="col-lg-12">
              <div id="social_footer">
                  <ul>
                      <li>
                          <a href="#"><i class="icon-facebook"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-twitter"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-google"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-instagram"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-pinterest"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-vimeo"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-youtube-play"></i></a>
                      </li>
                  </ul>
                  <p>© Citytours 2018</p>
              </div>
          </div>
      </div>
      <!-- End row -->
  </div>
  <!-- End container -->
</footer>
<!-- End footer -->
<div id="toTop"></div><!-- Back to top button -->
<!-- Search Menu -->
<div class="search-overlay-menu">
  <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
  <form role="search" id="searchform" method="get">
      <input value="" name="q" type="search" placeholder="Search..." />
      <button type="submit">
          <i class="icon_set_1_icon-78"></i>
      </button>
  </form>
</div><!-- End Search Menu -->



