<main style="margin-bottom: 355px;">
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="margin_60 container">
			<div id="tabs" class="tabs">
				<nav>
					<ul>
						<li class=""><a href="/bookings" class="icon-booking"><span>Bookings</span></a>
						</li>
						<li class="tab-current"><a href="/Wishlist" class="icon-wishlist"><span>Wishlist</span></a>
						</li>
						<li class=""><a href="/changepassword" class="icon-settings"><span>Settings</span></a>
						</li>
						<li class=""><a href="/profile" class="icon-profile"><span>Profile</span></a>
						</li>
					</ul>
				</nav>
				<div class="content">
					<!-- End section 1 -->
					<section id="section-2" class="content-current">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="hotel_container">
									<div class="img_container">
										<a href="single_hotel.html">
											<img src="img/hotel_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="score">
												<span>7.5</span>Good
											</div>
											<div class="short_info hotel">
												From/Per night<span class="price"><sup>$</sup>59</span>
											</div>
										</a>
									</div>
									<div class="hotel_title">
										<h3><strong>Park Hyatt</strong> Hotel</h3>
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6 ">
								<div class="hotel_container">
									<div class="img_container">
										<a href="single_hotel.html">
											<img src="img/hotel_2.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="score">
												<span>9.0</span>Superb
											</div>
											<div class="short_info hotel">
												From/Per night<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="hotel_title">
										<h3><strong>Mariott</strong> Hotel</h3>
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Arc Triomphe</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_3.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon popular">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Versailles</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_4.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon popular">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-30"></i>Walking tour<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Pompidue</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="transfer_container">
									<div class="img_container">
										<a href="single_transfer.html">
											<img src="img/transfer_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="short_info">
												From/Per person<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="transfer_title">
										<h3><strong>Orly Airport</strong> private</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

						</div>
						<!-- End row -->
						<button type="submit" class="btn_1 green">Update wishlist</button>
					</section>
					<!-- End section 2 -->
					</div>
					<!-- End content -->
				</div>
				<!-- End tabs -->
			</div>
			<!-- end container -->
	</main>